nav {
    background-color: rgb(227, 149, 162);
    color: pink;
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    font-size: 30px;
    top: 0;
    padding-left: 30px;
    backdrop-filter: blur(2px);
    z-index: 999;
}

nav ul {
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: bold;
    padding-bottom: 15px;
}

nav ul li:hover {
    color: rgb(255, 235, 235);
    transition: all 0.3s ease-out;
    cursor: pointer;
}

nav h1 {
    letter-spacing: 2px;
}